.stats-chart-card {
  padding: 1.5rem;
  background-color: var(--bg-secondary);
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  height: 100%;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.stats-chart-card h3 {
  margin-top: 0;
  font-size: 2rem;
  color: var(--text-primary);
}

.chart-placeholder-pastel {
  width: 100%;
  height: 200px;
  background-color: var(--bg-tertiary);
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--text-secondary);
  flex-grow: 1;
}