html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: Arial, sans-serif;
  background-color: var(--bg-primary);
  justify-content: center;
  align-items: center;
}

.dashboard-container {
  display: flex;
  height: 100vh;
  background-color: var(--bg-primary);
  padding: 1.5rem;
  box-sizing: border-box;
  max-width: 1200px;
  margin: 0 auto;
  align-items: stretch;
}

.content-area {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding-right: 2rem;
  box-sizing: border-box;
  overflow-y: auto;
}

.stats-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
  margin-bottom: 1.5rem;
}

.bottom-sections {
  flex: 1;
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 1rem;
  align-items: stretch;
}

/* Estilos de la página del Dashboard */
.dashboard-content {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.dashboard-stats-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
  margin-bottom: 1.5rem;
}

.dashboard-bottom-sections {
  flex: 1;
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 1rem;
  align-items: stretch;
}

/* Estilos de la página de Registro y de Fuerza */
.registro-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.registro-stats-grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
  margin-bottom: 1.5rem;
}

.registro-bottom-sections {
  padding-top: 1rem;
  flex: 1;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
  align-items: stretch;
}

/* Estilos de la página de Estadísticas */
.estadisticas-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.estadisticas-stats-grid {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

.estadisticas-bottom-sections {
  flex: 1;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
  align-items: stretch;
}